<h2>List of WODs</h2>

<div class="example-container">
<!-- <span> -->
    <label>Wod name:
      <mat-form-field>
        <input matInput placeholder="Nom du WOD">
      </mat-form-field>
    </label>
  <!-- </span> -->
  <!-- (click) passes input value to add() and then clears the input -->
</div>
    <button (click)="add(name.value); name.value=''">
      add
    </button>

<ul class="wods">
  <li *ngFor="let wod of wods">
    <a routerLink="/wod/{{wod.id}}">
      <span class="badge">{{wod.id}}</span> {{wod.name}}
    </a>
      <button class="delete" title="delete wod" (click)="delete(wod)">x</button>
  </li>
</ul>

