<h2>List of WODs</h2>

<div class="example-container">
<span>
    <label>Wod name:
      <mat-form-field>
        <input matInput #name placeholder="Nom du WOD">
      </mat-form-field>
    </label>
  </span>
</div>
    <button (click)="add(name.value); name.value=''">
      add
    </button>

<button mat-button color="primary" (click)="list=!list">Afficher sous forme de </button>

<div *ngIf="!list">
  <ul class="wods">
    <li *ngFor="let wod of wods">
      <a routerLink="/wod/{{wod.id}}">
        <span class="badge">{{wod.id}}</span> {{wod.name}}
      </a>
        <button class="delete" title="delete wod" (click)="delete(wod)">x</button>
    </li>
  </ul>
</div>

<div class="example-container mat-elevation-z8">
  
    <div class="example-table-container">
        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
          </mat-form-field>
  
      <mat-table [dataSource]="data" class="example-table"
          matSort
          matSortActive="title"
          matSortDisableClear
          matSortDirection="asc">

        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef mat-sort-header> id. </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
        </ng-container>
      
        <ng-container matColumnDef="title">
          <mat-header-cell *matHeaderCellDef mat-sort-header> title </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
        </ng-container>
      
        <ng-container matColumnDef="description">
          <mat-header-cell *matHeaderCellDef mat-sort-header> description </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.description}} </mat-cell>
        </ng-container>
      
        <ng-container matColumnDef="type">
          <mat-header-cell *matHeaderCellDef mat-sort-header> type </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.type}} </mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="coachesNotes">
            <mat-header-cell *matHeaderCellDef mat-sort-header> coachesNotes </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.coachesNotes}} </mat-cell>
        </ng-container>
  
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </div>
  
    <mat-paginator [length]=data?.length [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>

  <app-wod-search></app-wod-search>