registry = https://nexus.mtpl.bs.fr.atos.net/repository/npm-proxy/
proxy = http://193.56.47.8:8080 <http://193.56.47.8:8080/>
https.proxy = https://193.56.47.8:8080 <https://193.56.47.8:8080/>
always-auth = true
_auth = bnBtLWF0b3MtYnM6Njhaek1Wek5mdVF4R2FZclVXYzc=
email=atos@email.com


