<div class="container">
  <h3 mat-dialog-title>Créer un WOD</h3>

  <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">

    <div class="form">
      <mat-form-field color="accent">
        <input matInput #inputname class="form-control" placeholder="Nom du WOD" [(ngModel)]="data.name" name="name" maxlength="50" required >
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
        <mat-hint align="end">{{inputname.value?.length || 0}}/50</mat-hint>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <textarea matInput placeholder="Description" [(ngModel)]="data.description" name="description" required></textarea>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <mat-select placeholder="Type de WOD" [(ngModel)]="data.type" name="type" required>
          <mat-option *ngFor="let type of wodTypes" [value]="type.value">
            {{type.viewValue}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <textarea matInput placeholder="Notes du coach" [(ngModel)]="data.coachesNotes" name="coachesNotes"></textarea>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field class="chip-list" aria-orientation="horizontal">
        <mat-chip-list #chipList>
          <mat-chip
            *ngFor="let mouv of mouvs"
            [removable]="removable"
            (removed)="remove(mouv)">
            {{mouv}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <input
            placeholder="Ajouter un mouvement..."
            #mouvInput
            [formControl]="movementsIds"
            [matAutocomplete]="auto"
            [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="addOnBlur"
            (matChipInputTokenEnd)="add($event)"/>
        </mat-chip-list>
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectedChip($event)">
          <mat-option *ngFor="let mouv of filteredMouvs | async" [value]="mouv">
            {{ mouv }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
    
    <div mat-dialog-actions>
      <button mat-button [type]="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="confirmAdd(mouvs)">Ajouter</button>
      <button mat-button (click)="onNoClick()" tabindex="-1">Annuler</button>
    </div>
  </form>
</div>
