<h2>List of Todos</h2>

<div>
  <label>Todo titre:
    <input #titre />
  </label>
  <label>Todo contenu:
    <input #contenu />
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(titre.value, contenu.value); ">
    add
  </button>
</div>

<ul class="wods">
  <li *ngFor="let todo of todos">
    <a routerLink="/todo/{{todo.id}}">
      <span class="badge">{{todo.status}}</span> {{todo.titre}}
    </a>
      <button class="delete" title="delete titre" (click)="delete(todo)">x</button>
  </li>
</ul>

