  .example-card {
    max-width: 400px;
  }
  
  .complete-header-image {
    background-image: url('https://cdn2.iconfinder.com/data/icons/perfect-flat-icons-2/512/Ok_check_yes_tick_accept_success_green_correct.png');
    background-size: cover;
  }

  .incomplete-header-image {
    background-image: url('https://png.icons8.com/windows/1600/in-progress.png');
    background-size: cover;
  }

  #header-genihm {
    position: fixed;
    z-index:2;
    min-width: 100%;
    left: 0;
    top: 0;
  }

  .search-result {
    background-color: darkslategrey;
    position: absolute;
    top: 64px;
    z-index: 8;
    width: 99%;
    height: 87%;
    overflow: auto;
  }

  div.search-result * {
    color: white;
  }