<div *ngIf="todo">
  <h2>{{ todo.name }} (id: {{todo.id}})</h2>
  <!-- <div class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput [(ngModel)]="todo.name" placeholder="Titre">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <textarea matInput [(ngModel)]="todo.content" placeholder="Contenu"></textarea>
    </mat-form-field>
    <mat-checkbox [(ngModel)]="todo.complete">Accompli</mat-checkbox>
  </div> -->

  <button (click)="goBack()">Annuler</button>
  <button (click)="save()">Enregistrer</button>
</div>